/* General Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body and background */
body {
    font-family: Arial, sans-serif;
    background-color:#FFFFFF;
    display: flex;  /* Keep it as row by default */
    flex-direction: column; /* You can remove this line */
}

/* Header Styling */
.header {
    width: 100%;
    max-width: 1280px; /* Limits the header's max width */
    display: flex;
    margin: auto; /* Centers the header horizontally */
    justify-content: space-between; /* This works because flex-direction: row is the default */
    padding: 15px 0;
    align-items: center;
}
.header img{
    width: 100px;
}
.header span{
    font-weight: bold;
    padding-right: 20px;
}
.hero-section-container {
    width: 100%;
    max-width: 1280px; /* Limits the header's max width */
    display: flex;
    margin: auto; /* Centers the header horizontally */
    justify-content: space-between; /* This works because flex-direction: row is the default */
    /* padding: 15px 0; */
    align-items: center;

}
.background-image{
    position: relative;
    left: 100%;
    transform: translateX(-100%);
    width: 75%;
    height: 540px;
    border-radius: 10px;
    object-fit: cover;
}
.content{
    
    position: absolute;
    width: 420px;
    height: 395px;
    border-radius: 10px;
    z-index: 1;
    background-color: rgb(255, 255, 255);
    padding: 35px;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.2);

}
.content h1{
    font-size: 2rem;
margin-bottom: 5px;}
.content p{
    color: gray;

}
.search-form{
    margin: 20px 0;
}
.form-group{
    /* border-radius: 10px; */
    display: flex;
    flex-direction: column;
    /* padding: 10px; */
    height: 60px;
    /* margin: 10px 0; */
    
}
#loc{
    margin-bottom: 10px;
    border-radius: 10px;
    border: 1px solid rgba(128, 128, 128, 0.185);
    padding: 15px;
    gap: 5px;

}
.form-group label{
    font-size: .6rem;
    font-weight: bold;
    text-transform: uppercase;
}
.form-group input{
    outline: none;
    border: none;
    font-weight: bold;
    font-size: 1rem;
}

.date-group{
    padding: 15px;
    display: flex;
    justify-content: space-between;
    height: 60px;
    border: 1px solid rgba(128, 128, 128, 0.185);
}
.devider {
    border: 1px solid rgba(128, 128, 128, 0.185);
    height: 100%;
}
.search-button{
    background-color:#DE1162;
    width: 100%;border-radius: 10px;
    height: 50px;
    border: none;
    color: white;
    font-size: 1rem;
    margin: 20px 0;
}