/* Global Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
    line-height: 1.6;
}

body {
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #f5f5f5;
    /* height: 100vh; */
    margin: auto;

}


/* header */
.header{
    display: flex;
    width: 100%;
    margin: auto;
    align-content: center;
    align-items: center;
    justify-content: space-between;

}
.header img{
    width: 110px;

}
.header div {
    font-weight: bold;
    padding-right: 20px;
}
/* Container and Background Image */
.container {
    /* position: relative; */
    display: flex;
    align-items: center;
    /* width: 88.5%; */
}

.background-image {
    width: 75%;
    height: auto;
    position: relative;
    left: 100%;
    transform: translateX(-100%);
    border-radius: 10px;
    /* object-fit: cover; */
}

/* Content Box */
.content {
    position: absolute;
    left:5%;
    background-color: #fff;
    z-index: 1;
    width: 425px;
    height: 395px; 
    padding: 35px;
    border-radius: 15px;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.25);
    text-align: left;
    
    /* font-weight: bold; */
}

.content h1 {
    line-height: 1.2;
    font-size: 1.8rem;
    font-weight:bolder;
    color: #333;
    margin-bottom: 5px;
}

.content p {
    line-height: 1.2;
    color: #777;
    font-weight: bold;
    margin-bottom: 15px;
}

/* Form Styling */
.search-form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

/* Individual Form Groups */
.form-group {
    display: flex;
    height: 60px;
    flex-direction: column;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #ffffff;
}

.form-group label {
    font-size: 0.6rem;
    color: #555;
    font-weight: bold;
    /* margin-bottom: 4px; */
}

.form-group input[type="text"],
.form-group input[type="date"] {
    font-size: 1rem;
    border: none;
    outline: none;
    /* font-weight: bold; */
    color: #000000;
    background-color: transparent;
}

/* Date Group for Check-in and Check-out */
.date-group {
    display: flex;
  gap: 10px;
}

.date-group .form-group {
    flex: 1;
}

/* Submit Button */
.search-button {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 12px;
    background-color: #d9337c;
    color: #fff;
    font-size: 1rem;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.search-button span {
    margin-right: 5px;
}

.search-button:hover {
    background-color: #b02862;
}
#toprated{
    margin-top: 85px;
}