* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
    line-height: 1.6;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f5f5f5;
    margin: auto;
}

.container{
    position: relative;
    width: 85%;
    display: flex;
}
.container img{
    position: absolute;
    width: 75%;
    left: 100%;
    transform: translatex(-100%);
    border-radius: 10px;
}
.content{
    background-color: rgb(255, 255, 255);
    z-index: 1;
    width: 32%;
    height: 390px;
    border-radius: 15px;
    padding: 35px;

}

.content h1 {
line-height: 1.2;
}
.content p{
    color: grey;
}